DATABASE_URL=postgresql://username:password@localhost:5432/mydatabase

# Shopify
SHOPIFY_API_KEY=your_api_key_here
SHOPIFY_API_PASSWORD=your_api_password_here
SHOPIFY_SHOP_NAME=your-shop-name-without.myshopify.com

# Stripe
STRIPE_API_KEY=your_stripe_api_key_here
