DATABASE_URL=postgresql://username:password@localhost:5432/mydatabase

# Shopify
SHOPIFY_API_KEY=your_api_key_here
SHOPIFY_API_PASSWORD=your_api_password_here
SHOPIFY_SHOP_NAME=your-shop-name-without.myshopify.com

# Stripe
STRIPE_API_KEY=your_stripe_api_key_here

# Google Ads
GOOGLE_ADS_ACCESS_TOKEN=your_access_token
GOOGLE_ADS_DEV_TOKEN=your_dev_token
GOOGLE_ADS_CUSTOMER_ID=your_customer_id

# Notion
NOTION_API_KEY=your_notion_integration_token
NOTION_DATABASE_ID=your_database_id
